<input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
<div class="drawer-side">
  <label for="my-drawer-2" class="drawer-overlay"></label>
  <ul class="menu bg-gray-700 text-gray-100 w-74 h-full p-4 space-y-3">
    <li class="mb-4">
      <%= link_to root_path do %>
        <%= image_tag "baseball.png", alt: "Logo", class: "h-10 w-auto" %>
        <span class="text-3xl">Baseball</span>
      <% end %>
    </li>
    <li class="px-2 text-sm text-gray-300 uppercase tracking-wide">Main</li>
    <li>
      <a href="#" class="group flex items-center gap-3 text-lg py-3 px-3 rounded-lg hover:bg-white/10">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-100" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M13 5v6h6" />
        </svg>
        <span class="flex-1">Dashboard</span>
      </a>
    </li>
    <li class="px-2 text-sm text-gray-300 uppercase tracking-wide">Analytics</li>
    <li>
      <a href="#" class="group flex items-center gap-3 text-lg py-3 px-3 rounded-lg hover:bg-white/10">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-100" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
        <span class="flex-1">Reports</span>
      </a>
    </li>
  </ul>
</div>