<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
  <div class="card-header text-center py-4">
    <h1 class="font-bold text-4xl">Forgot password?</h1>
  </div>
  <div class="card-body">
    <%= form_with url: passwords_path do |form| %>
      <fieldset class="fieldset">
        <label class="label">Email</label>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input" %>
        <%= form.submit "Email reset instructions", class: "btn btn-neutral mt-4" %>
      </fieldset>
    <% end %>
  </div>
</div>